langchain==1.0.7
langchain-core==1.0.5
langchain-groq==1.0.1
langgraph==1.0.4

tavily-python==0.7.12

pydantic==2.10.3
pydantic-settings==2.6.1

python-dotenv==1.0.1

streamlit==1.41.1

typing-extensions==4.12.2